@model CalculateModel
@{
    ViewBag.Title = "Price Quotation";
}

<div class="container">
    <header class="jumbotron bg-success text-center"><h1 class="text-white"><i class="fas fa-money-bill-alt"></i>&nbsp; Price Quotation</h1></header>    
    <form asp-action="Index" method="post" class="form-horizontal">
        <div class="row">
            <div class="col-xs-12 col-sm-4"><label asp-for="Subtotal">Subtotal:</label></div>
            <div class="col-xs-12 col-sm-4"><input asp-for="Subtotal" /></div>
            <div class="col-xs-12 col-sm-4 text-danger"><span asp-validation-for="Subtotal"></span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4"><label asp-for="DiscountPercent">Discount percent:</label></div>
            <div class="col-xs-12 col-sm-4"><input asp-for="DiscountPercent" /></div>
            <div class="col-xs-12 col-sm-4 text-danger"><span asp-validation-for="DiscountPercent"></span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4"><label>Discount amount:</label></div>
            <div class="col-xs-12 col-sm-4"><input value="@ViewBag.DA.ToString("C2") " readonly /></div>
            </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4"><label>Total:</label></div>
            <div class="col-xs-12 col-sm-4"><input value="@ViewBag.T.ToString("C2") " readonly /></div>
        </div>
        <button class="btn btn-success" type="submit">Calculate</button>
        <a class="btn btn-success" asp-action="Index">Clear</a>
    </form>
</div>
